# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = pd.read_csv(
    "../output_data/cities.csv")

city_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,sao filipe,11,CV,1580270242,67,14.90,-24.50,71.13,18.39
1,kapaa,1,US,1580270164,61,22.08,-159.32,78.80,3.36
2,kichera,100,RU,1580270520,67,55.94,110.10,10.02,3.60
3,port elizabeth,75,ZA,1580270130,77,-33.92,25.57,68.00,13.87
4,mataura,96,NZ,1580270073,88,-46.19,168.86,54.00,14.00

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps
gmaps.configure(api_key= g_key)

#Store lat and Lng into locations
locations = city_data[["Lat", "Lng"]].astype(float)
# Drop NA values
#city_data = city_data.dropna()


humidity = city_data["Humidity"].astype(float)

In [4]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig = gmaps.figure(center=(0.0, 0.0), zoom_level=2.5)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#Create new data frame
city_data.head()

filtered_data = city_data[(city_data["Wind Speed"].astype(float) < 10) 
                          & (city_data["Cloudiness"].astype(float) <=0) 
                          & (city_data["Max Temp"].astype(float)>70)]


filtered_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
140,san patricio,0,MX,1580270345,63,19.22,-104.70,76.05,4.29
141,mount gambier,0,AU,1580270297,17,-37.83,140.77,89.60,9.17
190,port augusta,0,AU,1580270644,20,-32.50,137.77,102.99,9.17
196,yamethin,0,MM,1580270648,31,20.43,96.15,71.01,3.58
210,kununurra,0,AU,1580270657,39,-15.77,128.73,100.40,8.05
234,sao sebastiao,0,BR,1580270459,83,-23.76,-45.41,77.18,4.79
389,ilhabela,0,BR,1580270257,83,-23.78,-45.36,77.18,4.79
441,cockburn town,0,TC,1580270087,70,21.46,-71.14,77.67,8.41
449,phrae,0,TH,1580270820,60,18.08,100.00,72.00,2.15
467,wodonga,0,AU,1580270831,13,-36.12,146.88,95.00,5.82
489,cordoba,0,AR,1580270819,82,-31.41,-64.18,77.00,6.93
522,kulhudhuffushi,0,MV,1580270293,65,6.62,73.07,81.84,9.93
524,sompeta,0,IN,1580270869,77,18.93,84.60,75.33,5.32

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:

#Create new Column
filtered_data["Hotel Name"] = ""

#Create new DF
hotel_df = filtered_data

hotel_df.head()

C:\Users\spowe\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
140,san patricio,0,MX,1580270345,63,19.22,-104.70,76.05,4.29,
141,mount gambier,0,AU,1580270297,17,-37.83,140.77,89.60,9.17,
190,port augusta,0,AU,1580270644,20,-32.50,137.77,102.99,9.17,
196,yamethin,0,MM,1580270648,31,20.43,96.15,71.01,3.58,
210,kununurra,0,AU,1580270657,39,-15.77,128.73,100.40,8.05,

In [7]:
params = {
    "radius": 50000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

C:\Users\spowe\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [8]:
#Check Data frame
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
140,san patricio,0,MX,1580270345,63,19.22,-104.70,76.05,4.29,Hostal Tzalahua
141,mount gambier,0,AU,1580270297,17,-37.83,140.77,89.60,9.17,Commercial Hotel
190,port augusta,0,AU,1580270644,20,-32.50,137.77,102.99,9.17,Transcontinental Hotel
196,yamethin,0,MM,1580270648,31,20.43,96.15,71.01,3.58,Hill Top Villa Resort
210,kununurra,0,AU,1580270657,39,-15.77,128.73,100.40,8.05,Hotel Kununurra
234,sao sebastiao,0,BR,1580270459,83,-23.76,-45.41,77.18,4.79,TW Guaimbê
389,ilhabela,0,BR,1580270257,83,-23.78,-45.36,77.18,4.79,DPNY Beach Hotel e Spa
441,cockburn town,0,TC,1580270087,70,21.46,-71.14,77.67,8.41,Bohio Dive Resort
449,phrae,0,TH,1580270820,60,18.08,100.00,72.00,2.15,Hug Inn Phrae Hotel
467,wodonga,0,AU,1580270831,13,-36.12,146.88,95.00,5.82,Mantra Albury
489,cordoba,0,AR,1580270819,82,-31.41,-64.18,77.00,6.93,Sheraton Cordoba Hotel
522,kulhudhuffushi,0,MV,1580270293,65,6.62,73.07,81.84,9.93,JA Manafaru
524,sompeta,0,IN,1580270869,77,18.93,84.60,75.33,5.32,Swosti Palm Resort

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
lat_list = hotel_df["Lat"].tolist()
lng_list = hotel_df["Lng"].tolist()


coordinates = []
zippedList = zip(map(lambda x: float(x), lat_list), map(lambda x: float(x), lng_list))
for [a,b] in zippedList:
    coordinates.append([a, b])
    


#print(lat_list)
#print(lng_list)
print(coordinates)

[[19.22, -104.7], [-37.83, 140.77], [-32.5, 137.77], [20.43, 96.15], [-15.77, 128.73], [-23.76, -45.41], [-23.78, -45.36], [21.46, -71.14], [18.08, 100.0], [-36.12, 146.88], [-31.41, -64.18], [6.62, 73.07], [18.93, 84.6]]

In [11]:
#Set up Markers
markers= gmaps.marker_layer(coordinates)

fig.add_layer(markers)

#Create new map
fig

Figure(layout=FigureLayout(height='420px'))